:host ::ng-deep div.description{
  margin-left:auto;
  margin-right:auto;
  width:640px;
}
:host ::ng-deep form {
  margin:0 auto;
  width:640px;
}
:host ::ng-deep .ant-form-item-label {
  text-align:left;
}
:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
:host ::ng-deep .ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}
:host ::ng-deep .ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
:host ::ng-deep [nz-button].btn_kb_submit {
  width:100%;
}
