<section class="boxed">
  <nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'">
      <standard-form-row [title]="'카테고리'" block style="padding-bottom: 11px;">
        <nz-form-item>
          <nz-form-control>
            <tag-select>
              <nz-tag *ngFor="let i of categories; let idx = index" nzMode="checkable" [nzChecked]="i.value" (nzCheckedChange)="changeCategory($event, idx)">
                {{i.text}}
              </nz-tag>
            </tag-select>
          </nz-form-control>
        </nz-form-item>
      </standard-form-row>
    </form>
  </nz-card>
  <nz-list class="pl-lg pr-lg" [nzLoading]="loading" [nzDataSource]="list" [nzRenderItem]="item" [nzGrid]="{gutter: 24, lg: 6, md: 8, sm: 12, xs: 24 }" [nzLoadMore]="loadMore">
    <ng-template #item let-item>
      <nz-list-item>
        <button *ngIf="item === null" nz-button routerLink="/kibble" [nzType]="'dashed'" style="width: 100%; height: 183px;">
          <i class="anticon anticon-plus"></i>
          <span>행복두레박 추가</span>
        </button>
        <nz-card class="ant-card__body-nopadding" nzHoverable *ngIf="item !== null">
          <div class="half-float half-float-md">
            <img alt="{{item.title}}" src="{{item.cover}}">
            <div class="half-float-bottom">
              <img class="rounded-circle" nzSize="large" src="{{item.avatar}}">
            </div>
          </div>
          <div class="info-area text-center">
            <h3 class="h3"><a (click)="msg.success('이름' + item.id);">{{item.title}}</a></h3>
            <ellipsis>{{item.description}}</ellipsis>
          </div>
          <div class="more-area text-center">
            <div nz-row>
              <div nz-col [nzSpan]="24" class="py-sm">
                <a (click)="msg.success('자세히 보기：' + item.id);"> 자세히보기&nbsp;&nbsp;<i class="anticon anticon-search"></i></a>
              </div>
            </div>
          </div>
        </nz-card>
      </nz-list-item>
    </ng-template>
    <ng-template #loadMore>
      <div class="text-center mt-md">
        <button nz-button (click)="getData(true)" [nzLoading]="loading" [nzType]="'dashed'" style="min-width:200px;">행복일기 더보기</button>
      </div>
    </ng-template>
  </nz-list>
</section>
