<footer class="ft">
  <ul>
    <li>
      <a (click)="showModal()"><span>개인정보취급방침</span></a>
      <nz-modal [(nzVisible)]="isVisible" nzTitle="개인정보취급방침" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <p>
          본 사이트는 회원에 대하여 보다 더 질 높은 서비스 제공 등을 위해
          아래와 같이 귀하의 개인정보를 제공하고 있습니다.<br><br>

          개인정보의 수집·이용 목적<br>
          회원관리 및 서비스 이용 의사 확인<br>
          각종 서비스 및 이벤트 안내<br><br>

          수집하는 개인정보의 항목<br>
          이름, 성별, 나이, 지역, 연락처 등<br><br>

          개인정보의 보유 및 이용기간<br>
          개인정보 삭제 및 탈퇴를 요청할 때까지 보유·이용합니다.<br><br>

          불량회원 관리 및 소비자보호에 대한 법률 등 타 법률에 의해
          보존해야 할 필요가 있는 경우에는 일정기간 보존합니다.<br><br>

          다만, 아래의 경우에는 예외로 합니다.<br>
          이용자들이 사전에 동의한 경우<br>
          법령의 규정에 의거하거나,<br>
          수사 목적으로 법령에 정해진 절차와 방법에 따라<br>
          수사기관의 요구가 있는 경우
        </p>
      </nz-modal>
    </li>
    <li><a>Contact Us</a></li>
  </ul>
</footer>
